html
  head
    script.
      window.user = '#{user.username}'
  body
    h1 Chat
    form#newMsgForm(method='POST')
      input#msgInput(type='text' name='msg' placeholder='Type new message')
      button Send
    ul#messages
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js')
    script(src='chat.js')