html
  head
    link(rel='stylesheet' href='styles.css')
  body
    h1 #{greeting}
    h2 Request count: #{requestCount}
    ul
      each song in songs
        li #{song.title} (#{song.author})
    a(href='/chat') Go to chat
    form(action="/logout" method="post")
      button Log Out