html
  head
  body
    form(method="post" action="/login")
      input(type="text" name="username" placeholder="username")
      input(type="password" name="password" placeholder="password")
      button Log In